.search-form .search-button, .product .product-action button{
    background-color: #284a7a;
}
.modal  {
    /*   display: block;*/
    padding-right: 0px;
    background-color:rgb(40, 74, 122);
    }
   
    .modal-dialog {
            top:150;
                width: 60%;
    position: absolute;
        }
        .modal-content {
                border-radius: 0px;
                border: none;
    top: 40%;
            }
            .modal-body {
                    background-color: #0f8845;
    color: white;
                }
.overlay{
    position: fixed;
    left:0;
    right:0;
    bottom:0;
    top:0;
    background-color:rgba(0,0,0,0.7);
}
.product.popup{
    position: fixed; 
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    width:32%;
    height: 45%;
}
.product.popup .product-image{
    text-align: right;
    padding: 10px;
}
  .product-action,.no-product{text-align: center;}    
  .no-product{padding:10px;}         
  div .product-image .img-modal{width:10%;float:left}